@font-face {
    font-family: "ProstoOne";
    src: url(../foons/ProstoOne-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(../foons/Montserrat-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat_";
    src: url(../foons/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat_m";
    src: url(../foons/Montserrat-Medium.ttf);
    font-weight: 500;
}